body {
    margin: 0;
    height: 100%;
    background: #efefef url("assets/background.jpeg") fixed;
}

.input-group-append button {
    border-radius: 0 5px 5px 0;
}

.small-button {
    width: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity ease .3s;
}

.username {
    margin-right: 20px;
}

.small-button:hover {
    opacity: 1;
    transition: opacity ease .3s;
}

.remove-voucher {
    float: right;
}

.one-voucher.is-used canvas, .one-voucher.is-expired canvas {
    opacity: .5;
}

.one-voucher.is-used .black-bg, .one-voucher.is-expired .black-bg {
    background: #555;
}

.no-vouchers {
    width: 50%;
    margin: auto;
    min-width: 450px;
}

.vouchers {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.vouchers canvas {
    max-width: 100%;
    object-fit: contain;
    margin-top: 5px;
    margin-left: 5px;
}

.form-check-label {
    color: #555;
}

.one-voucher {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.one-voucher .voucher-inner {
    display: grid;
    grid-template-columns: 60% 1% 4% auto;
}

.one-voucher .canvas, .one-voucher .black-bg {
    padding: 20px;
}

.one-voucher .black-bg {
    background: #222;
    color: #FFF;
    border-radius: 0 28px 28px 0;
    position: relative;
    z-index: 0;
}

.one-voucher .gift-shadow {
    background: rgba(90, 90, 90, 0.1);
}

.one-voucher .additional-border {
    border: 2px solid #ffd213;
    position: absolute;
    left: 7px;
    top: 7px;
    bottom: 7px;
    right: 7px;
    border-radius: 24px;
    z-index: 2;
    pointer-events: none;
}

.one-voucher .gift-vertical {
    background: #ffd213;
    position: relative;
}

.one-voucher .gift-vertical img {
    position: absolute;
    width: 110px;
    left: -41px;
    top: 58%;
    z-index: 2;
}

.one-voucher .gift-vertical:after {
    background: url("assets/bn-2.svg") no-repeat;
    content: "";
    display: block;
    width: 100%;
    height: 75px;
    top: 60%;
    position: absolute;
    z-index: 0;
}


.one-voucher .used-label {
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.is-used span {
    text-decoration: line-through;
}

.one-voucher .copy {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease .2s;
}

.one-voucher .copy:hover {
    opacity: 0.9;
}

.one-voucher .copy:active {
    color: #ffd213;
}

.one-voucher .near-amount {
    margin-top: 25%;
}

.one-voucher .copy img {
    width: 20px;
    margin-right: 3px;
    vertical-align: text-top;
}

/* Add voucher */
.one-voucher form {
    padding: 32px 22px;
}

@media all and (max-width: 1200px) {
    .one-voucher .gift-vertical img, .one-voucher .gift-vertical:after {
        display: none;
    }
}