body {
    margin: 0;
    height: 100%;
}

.input-group-append button {
    border-radius: 0 5px 5px 0;
}

.vouchers {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 4%;
}

.vouchers canvas {
    max-width: 100%;
    object-fit: contain;
}

.small-button {
    width: 20px;
    margin-top: 3px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity ease .3s;
}

.small-button:hover {
    opacity: 1;
    transition: opacity ease .3s;
}

.copy-link {
    float: left;
}

.remove-voucher {
    float: right;
}

.is-used canvas {
    opacity: .5;
}

.one-voucher {
    position: relative;
}

.used-label {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    text-align: center;
    background: #d00623;
    padding: 5px;
    color: #FFF;
    z-index: 1;
}
